@font-face {
    font-family: "antiquarian-scribe";
    src: url("../fonts/antiquarian-scribe-400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "ltc-goudy-oldstyle-pro";
    src: url("../fonts/ltc-goudy-oldstyle-pro-400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "ltc-goudy-oldstyle-pro";
    src: url("../fonts/ltc-goudy-oldstyle-pro-700-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "ltc-goudy-oldstyle-pro";
    src: url("../fonts/ltc-goudy-oldstyle-pro-400-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "ltc-goudy-oldstyle-pro";
    src: url("../fonts/ltc-goudy-oldstyle-pro-700.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-big";
    src: url("../fonts/verdigris-mvb-pro-big-400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-big";
    src: url("../fonts/verdigris-mvb-pro-big-700.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-text";
    src: url("../fonts/verdigris-mvb-pro-text-400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-text";
    src: url("../fonts/verdigris-mvb-pro-text-400-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-text";
    src: url("../fonts/verdigris-mvb-pro-text-700.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "verdigris-mvb-pro-text";
    src: url("../fonts/verdigris-mvb-pro-text-700-italic.woff2") format("woff2");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}
